{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>{{ 'Settings'|trans }}</h1>
    {% include '@CraueConfig/Settings/modify_content.html.twig' %}

{% endblock %}








